.responsiveFilter {

  cursor: pointer;

}
.responsiveFilter:hover{
  border: 3px solid rgb(229, 232, 235);
}
.responsiveFilter>div {
  border-width: 2px;

  border: 1px solid rgb(229, 232, 235);
}
.responsiveFilter>div.active {
  background-color: rgb(243, 251, 254);
}
.responsiveFilter>div.active {
  background-color: rgb(243, 251, 254);
}
.windowIcon {
  border-right: 1px solid rgb(229, 232, 235);
}
.responsiveFilter>div, .filterListIcon, .swapIcon {
  display: flex;
  align-items: center;
  justify-content:center
}
