.inspectionCard {
    
}
.inspectionCardInner:hover, .activeInspectionCardInner {
    background-color: white;
    cursor: pointer;
}
.checkIcon {
    color: darkgray;
}
.activeInspectionCardInner{
    background-color: white  !important;
}
.activeCheckIcon {
    color: green;
}